
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Tarea</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color:rgb(211, 239, 204); 
            font-family: 'Arial', sans-serif; 
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Crear Nueva Tarea ≧◠ᴥ◠≦</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" class="form-control" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea class="form-control" name="description" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </form>
        <a href="{% url 'task_list' %}" class="btn btn-secondary mt-3">Volver a la lista de tareas</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>