<!-- tasks/templates/tasks/task_list.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color:rgb(238, 179, 216); 
            font-family: 'Arial', sans-serif; 
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Tareas ʕ•́ᴥ•̀ʔっ</h1>
        <a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Crear nueva tarea</a>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong><a href="{% url 'task_update' task.pk %}">{{ task.title }}</a></strong><br>
                        <small>{{ task.description }}</small> <!-- Mostrar la descripción -->
                    </div>
                    <form action="{% url 'task_complete' task.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm {% if task.completed %}btn-warning{% else %}btn-success{% endif %}">
                            {% if task.completed %}
                                Marcar como pendiente
                            {% else %}
                                Marcar como completada
                            {% endif %}
                        </button>
                    </form>
                    <form action="{% url 'task_delete' task.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>